@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.active {
  color: #fa8c32;
}

.heading {
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

.my-shadow {
  -webkit-box-shadow: 0px 0px 21px 4px rgba(240, 240, 240, 0.58);
  -moz-box-shadow: 0px 0px 21px 4px rgba(240, 240, 240, 0.58);
  box-shadow: 0px 0px 21px 4px rgba(240, 240, 240, 0.58);
}


.lightGrey {
  box-shadow: "box-shadow: 0px 0px 0px -1px rgb(211 211 211)",
}

.section-spacing {
  @apply py-10 my-10
}

/* Custom custom scrollbar-color */
.custom-scrollbar-color::-webkit-scrollbar {
  height: 5px;
}

.custom-scrollbar-color::-webkit-scrollbar-track {
  background: #f8f8f8;
}

.custom-scrollbar-color::-webkit-scrollbar-thumb {
  background-color: #fa8c32; /* Orange */
  border-radius: 8px;
}

.button {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.button-outer-circle {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.triangle {
  animation: fadeIn 7s ease;
}

.path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  animation: triangleStroke 3s ease;
}

.has-scale-animation {
  animation: smallScale 3s infinite;
}

.has-delay-short {
  animation-delay: 0.5s;
}

/* Play button youtube */


@keyframes float {
  0% { transform: translate(0, 0) rotate(0deg); }
  50% { transform: translate(20px, 20px) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes float-delayed {
  0% { transform: translate(0, 0) rotate(0deg); }
  50% { transform: translate(-20px, 20px) rotate(-10deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes float-slow {
  0% { transform: translate(0, 0) rotate(0deg); }
  50% { transform: translate(10px, -20px) rotate(5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.animate-float {
  animation: float 20s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 25s ease-in-out infinite;
}

.animate-float-slow {
  animation: float-slow 30s ease-in-out infinite;
}
